<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Tarefas</title>
    <style>
        .tarefaPronta {
            text-decoration: line-through;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div id="tarefasApp">
            <h1>Controle suas tarefas</h1>
            <h2>Adicionar tarefa</h2>
            <form v-on:submit="addTarefa">
                <div class="input-group mb-3">
                    <input type="text" v-model="novaTarefa.titulo" placeholder="Título da tarefa" class="form-control">
                    <div class="input-group-append">
                        <input type="submit" value="Adicionar" class="btn btn-success">
                    </div>
                </div>
            </form>
            <hr>
            <h2>Tarefas a fazer</h2>
            <table class="table">
                <thead>
                    <th>Pronta?</th>
                    <th>Título</th>
                    <th>Remover</th>
                </thead>
                <tbody>
                    <tr v-for="tarefa in tarefas">
                        <td><input type="checkbox" v-model="tarefa.pronta"></td>
                        <td><span v-bind:class="{ tarefaPronta: tarefa.pronta}">{{tarefa.titulo}}</span></td>
                        <td><button v-on:click="removerTarefa(tarefa)" class="btn btn-danger">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script>
        var tarefasApp = new Vue({
            el: "#tarefasApp",
            data: {
                tarefas: [
                    { titulo: "Desenvolver API para o sistema", pronta: false},
                    { titulo: "Criar controle de acesso", pronta: false},
                    { titulo: "Enviar novas mudanças para o servidor", pronta: false}
                ], 
                novaTarefa: {
                    titulo: '',
                    pronta: false
                }, 
                
            },
            methods: {
                addTarefa: function(e) {
                    e.preventDefault();
                    this.tarefas.push(this.novaTarefa);
                },
                removerTarefa: function(tarefa) {
                    this.tarefas.splice(this.tarefas.indexOf(tarefa), 1);
                }
            },
        });
    </script>
</body>
</html>